page-servico-iniciado {
    ion-content{
        background: #E9E9E9 !important;
    }

    .content{
        padding-top: 1% !important;
    }

    ion-card-title {
        font-weight: bold;
    }
    .cart{
        width:100%;
        margin: 0px !important;
        margin-bottom: 10px !important;
        width:100%;
        background-color: #fffefa !important;
    }
    .descricao{
        font-size: 1000%;
    }
    .cartao {
        margin: 0px !important;
        margin-bottom: 10px !important;
        width:100%;
         //border: 3px solid #000000 !important;
         background-color: #fffefa !important;
         //border-radius: 10px !important;
         height: 70%;
    }
    .titulo{
        text-align: center;
        font-size: 170%;
        margin-top: 10%;
    }
    .nome{
        font-size: 150% !important;
        text-align: center;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .nota{
        font-size: 150% !important;
        text-align: center;
    }
    .descricao{
        font-size: 120%;
        text-align: center;
        margin-bottom: 20%;
    }
    .divimg{
        width: 35%;
        display: inline-block;
        margin-top: 5%;
        margin-left: 32.5%;
        margin-right: 32.5%;
    }
    .img{
        width: 100%;
        border-radius: 50%;
        margin-bottom: 15%;
        display: inline-block;
    }
    .finalizar{
        width: 30%;
        display: inline-block;
        font-size: 100%;
        margin-bottom: 10%;
        margin-left: 10%;
        margin-right: 8%;
        margin-top:20%;
        background-color: red;
    }
    .pausar{
        width: 30%;
        display: inline-block;
        font-size: 100%;
        margin-bottom: 10%;
        margin-right: 10%;
        margin-left: 8%;
        margin-top:20%;
        background-color: #f4bc16;
    }
}
