page-perfil-elet {
    .ion-content{
        font-family:'Ubuntu';
    }
    h1{
        text-align: center;
    }
    .fundo{
        background-color: #E9E9E9 !important;;
    }
    .amarelo{
        background-color: yellow;
        height: 2px;
    }
    .divimg{
        height: 100%;
        width: 100%;
        border-radius: 100%;
    }
    .divi{
        height: 100px;
        width: 100px;
        border-radius: 100px;
        margin-left: 34.5%;
    }
    .p{
        font-size: 140% !important;
        margin-top: 5%;
        text-align: center;
    }
    .topo{
        position: block;
        margin-left: 0px;
        left:0px;
        width: 110%;
        background-color: white;
        color: black;
        text-align: center;
        padding-top: 5%;
        margin-left: -5%;
    
    }
    .card {
        /* Add shadows to create the "card" effect */
        margin: 0px !important;
        margin-bottom: 10px !important;
        width:100%;
        background-color: #fffefa;
    }
    
    .card3 {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
        transition: 0.3s;
        background-color: white;
        transform:translateY(15%);
        width: 110%;
        margin-left: -5%;
        padding-top: 1%;
        margin-top:5%;
        padding-bottom: 5%;
    }
    .info{
        font-weight: bold;
    }
    .container {
        padding: 2px 16px;
    }
    .endereco{
        font-size: 130%;
        //transform:translateY(70px);
        margin-left: 10px;
    }
    .numero{
        font-size: 130%;
       // transform:translateY(80px);
        margin-left: 10px;
    }
    .email{
        font-size: 130%;
        // transform:translateY(80px);
         margin-left: 10px;
    }
    .casa{
        margin-right: 5%;
    }
    .celular{
        margin-right: 5%;
    }
    .carta{
        margin-right: 5%;
    }
    .cartao{
        font-size: 150%;
        padding-left: 6%;
        font-weight: bold;
        // transform:translateY(90px);
    }
    .tipo{
        font-size: 120%;
        display: flex;
        justify-content: center;
    }
    .card4{
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
        transition: 0.3s;
        background-color: white;
        transform:translateY(95%);
        width: 110%;
        margin-left: -5%;
    }
    .n{
        font-size: 120%;
        display: flex;
        justify-content: center;
    }
    .cadastrado{
        background-color: #FCFCFC;
        border-color: black;
        border: 2px;
        border-style: solid;
        width: 60%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        margin-left: 20%;
        margin-bottom: 10%;
        margin-top: 5%;
        // transform:translateY(90px);
    }
    .editar{
        font-size: 105%;
        display: flex;
        justify-content: center;
        // transform:translateY(120px);
        color: black;
        background-color: #fffefa;
    }
}
