page-menu-eletricista {
    .titulo{
        text-align: center !important;
        display: block;
    }
    ion-content{
        background: #E9E9E9 !important;
        font-family:'Ubuntu';
    }

    .h3{
        text-align: end;
        margin-top: 1% !important;
        text-decoration: underline;
    }

    .ios, .md {
        page-home {
            button {
                align-items: baseline;
            }
        }
    }

    .card{
        margin: 0%;
        margin-left: 0px;
        width: 100%;
        //border-radius: 5%;
        height: 16% !important;
        font-size: 150%;
        display: block;
        position: relative;
    }

    .agoravai{
        margin : 0px !important;
        margin-top: 6% !important;
        
        height: auto !important;
    }

    .card span{
        position: absolute;
        bottom: 8%;
        left: 5%;
    }
    .item-inner{
        border-bottom: 0px !important;
    }
    .p{
        font-size: 90%;
    }

    .titulo{
        background-color: #ffde4d  !important;
        color: rgb(0, 0, 0);
        //border-radius: 5px;
        border: 0px solid #000000 !important;
        height: 5% !important;
    }

    .conteudo {
        padding: 8%;
    }

    .maisinfo {
        color: rgb(75, 138, 255);
        text-decoration: underline;
    }

    .item-faturamento{
        margin-top: 0px;
        
    }

}