page-menu-cliente {
    ion-content {
        font-family:'Ubuntu';
    }

    .menu{
        background: transparent;
        color:black;
        width: 15%;
        height: 5%;
        font-size: 240%;
        padding-left: 10px;
        padding-right: 10px;
        position: absolute !important;
        top: 3%;
        left: 3%;

    }
    .servico{
        border-radius: 50px;
        color:white;
        background-color: rgba(0, 0, 0, 0.89);
        width: 50%;
        display: inline-block;
        left:25%;
        margin-top:3%;
    }
    .bussu{
        color: black;
        background-color: white;
        width: 10%;
        display: inline-block;
        border-radius: 50%;
        margin-top:3%;
        left:28%;
    }
    .baixo{
        position:absolute;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 10%;
        bottom: 0px;
        border-radius: 30% 30% 0 0;
        left:0%;
        right: 0%;
    }
    #mapa{
        width: 100%;
        height: 100%;
        margin: 0 px;
        padding: 0px;
    }
}
