page-menu-cliente {
    .amarelo{
        background-color: yellow;
        height: 2px;
    }
    .eletricista{
        display: inline-block;
        margin-top: 0px;
    }
    .verm{
        display: inline-block;
        color: red;
        margin-top:-3px;
    }
    .voce{
        font-size: 150%;
        display: flex;
        justify-content: center;
    }
    .butao{
        border-radius: 100px;
        width: 100px;
        height: 100px;
        background-color: #E7E7E7;
        display: inline-block;
        margin-left: 5%;
        transform:translateY(90%);
    }
    .perfil{
        color: #979797;
        font-size: 730%;
    }
    .solicitar{
        color: black;
        font-size: 500%;
    }
    .bperf{
        background-color: #ffc82c;
        border-radius: 100px;
        width: 100px;
        height: 100px;
        display: inline-block;
        margin-left: 35%;
        margin-right: 35%;
        transform:translateY(90%);
        
    }
    .bbulb{
        background-color: #f5010b;
        border-radius: 100px;
        width: 100px;
        height: 100px;
        display: inline-block;
        margin-left: 25%;
        margin-right: 5%;
        transform:translateY(90%);
    }
    .flash{
        color: black;
        font-size: 550%;
    }
    p{
        display: inline-block;
    }
    .pperfil{
        font-size: 115%;
        margin-left: 10%;
        margin-right: 36%;
        margin-top: 10px;
        transform:translateY(455%);
    }
    .pserv{
        font-size: 115%;
        margin-top: 10px;
        transform:translateY(455%);
    }
    .psoli{
        font-size: 115%;
        margin-left: 33%;
        margin-right: 33%;
        transform:translateY(455%);
    }
    .pres{
        font-size: 120%;
        text-align: center;
        transform:translateY(453%);
    }
    .img{
        width: 20%;
        display: inline-block;
        float:right;
    }
    h1{
        display: inline-block;
        margin-right: 45%;
    }
}
