page-menu{
    .imgperf{
        width: 100%;
        border-radius: 50%;
        margin-bottom: 30%;
        display: inline-block;
        font-family:'Ubuntu';
    }
    .divz{
        width: 35%;
        display: inline-block;
        font-family:'Ubuntu';
    }
    .logout{
        bottom: 5%;
        margin-left: 10%;
        position: absolute;
        font-size: 140%;
    }
    .icone{
        font-size: 130%;
        color:#f4bc16;
    }
    .nomez{
        display:inline-block;
        font-family:'Ubuntu';

        font-size: 130%;
        margin-left: 10%;
        transform:translateY(-300%);        
    }
}