page-menu{
    .imgperf{
        width: 100%;
        border-radius: 50%;
        margin-bottom: 30%;
        display: inline-block;
    }
    .divz{
        width: 35%;
        display: inline-block;
    }
    .nomez{
        display:inline-block;
        font-size: 130%;
        margin-left: 10%;
        transform:translateY(-300%);        
    }
}