page-servico-finalizado {
    h1{
        text-align: center;
        font-size: 120%;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .amarelo{
        background-color: yellow;
        height: 2px;
    }
    .detalhe{
        text-align: center;
        font-size: 130%;
        text-transform: uppercase;
        font-weight: bold;
    }
    .img{
        width: 35%;
        display: inline-block;
        margin-left: 0%;
    }
    .imga{
        margin-top: 10%;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: inline-block;
    }
    .nome{
        display: inline-block;
        margin-left: 20%;
        transform:translateY(-480%);
        margin-right: 15%;
        font-size: 130%;
        margin-bottom: 0%;
    }
    .data{
        display: inline-block;
        margin-left: 50%;
        transform:translateY(-480%);
        margin-right: 10%;
        width: 40%;
        font-size: 130%;
        margin-bottom: 0%;
    }
    .preço{
        display: inline-block;
        margin-left: 60%;
        transform:translateY(-480%);
        margin-right: 20%;
        width: 20%;
        font-size: 130%;
    }
    .tempo{
        font-size: 130%;
        text-align: center;
        font-weight: bold;
        transform:translateY(-400%);
    }
    .relatorio{
        text-align: center;
        font-size: 110%;
        text-decoration: underline;
        transform:translateY(-400%);
    }
    .qual{
        text-align: center;
        font-size: 150%;
        font-weight: bold;
        transform:translateY(-270%);
    }
    .deixe{
        font-size: 150%;
        font-weight: bold;
        text-align: center;
    }
    .item{
        height: 200% !important;
        width: 100%;
    }
    .input {
        border: 2px solid black;
        padding-left:5%;
    }
    ion-item{
        
    }
    form{
       
    }
    .enviar{
        width: 75%;
        margin-left: 12.5%;
        background-color: rgb(241, 241, 0);
        color:rgba(59, 59, 59, 0.96);
        margin-top: 10%;
    }
}
