page-servico-finalizado {
    ion-content{
        background: #E9E9E9 !important;
        font-family:'Ubuntu';
    }
    h1{
        text-align: center;
        font-size: 120%;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .amarelo{
        background-color: yellow;
        height: 2px;
    }

    .detalhe{
        text-align: center;
        font-size: 130%;
        //text-transform: uppercase;
        font-weight: bold;
        margin-top: 0%;
    }

    .img{
        text-align: center;
    }

    .imga{
        margin-top: 3%;
        width: 30%;
        height: 30%;
        border-radius: 50%;
        display: inline-block;
    }
    .nome{
        display: block;
        text-align: center;
        margin-left: 20%;
        margin-right: 15%;
        font-size: 20px;
        margin-bottom: 0%;
    }
    .data{
        display: block;
        text-align: center;
        font-size: 130%;
        margin-bottom: 0%;
    }
    .preço{
        display: block;
        text-align: center;
        font-size: 130%;
    }
    .tempo{
        font-size: 100%;
        text-align: center;
        //font-weight: bold;
    }
    .relatorio{
        text-align: center;
        font-size: 80%;
        text-decoration: underline;
        //transform:translateY(-400%);
    }
    .qual{
        text-align: center;
        font-size: 120%;
        font-weight: bold;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .deixe{
        font-size: 130%;
        font-weight: bold;
        text-align: center;
        margin-bottom: 4%;
    }
    .item{
        height: 200% !important;
        width: 100%;
    }
    .input {
        border: 2px solid black;
        padding-left:5%;
    }
    .item-inner{
        border-bottom: 0px !important;
    }

    .titulo{
        background-color: #ffde4d  !important;
        color: rgb(0, 0, 0);
        border-radius: 3px;
        border: 0px solid #000000 !important;
        height: 15% !important;
    }

    .estrela{
        text-align: center;
        width: 60%;
        margin-bottom: 5%;
    }

    .meio{
        background-color: #ffffff  !important;
        color: rgb(0, 0, 0);
        border-radius: 3px;
        border: 0px solid #000000 !important;
        height: 33% !important;
        margin-top: 5%;
        display: inline;
    }

    .meio2{
        background-color: #ffffff  !important;
        color: rgb(0, 0, 0);
        border-radius: 3px;
        border: 0px solid #000000 !important;
        height: 13% !important;
        margin-top: 5%;
        display: inline;
    }

    .meio3{
        background-color: #ffffff  !important;
        color: rgb(0, 0, 0);
        border-radius: 3px;
        border: 0px solid #000000 !important;
        height: 28% !important;
        margin-top: 5%;
        display: inline;
    }

    .enviar{
        width: 75%;
        margin-left: 12.5%;
        background-color: #ffde4d  !important;
        color: rgb(0, 0, 0);
        font-weight: bold;
        margin-top: 5%;
        border-radius: 5px;
        //border: 1px solid #000000 !important;
    }
}
